<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"   
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Layout page</title>
        <script charset="UTF-8" type="text/javascript" th:src="@{/js/lib/angular.min.js}"></script>  
        <script charset="UTF-8" type="text/javascript" th:src="@{/js/lib/angular-aria.min.js}"></script>  
        <script charset="UTF-8" type="text/javascript" th:src="@{/js/lib/angular-animate.min.js}"></script>  
        <script charset="UTF-8" type="text/javascript" th:src="@{/js/lib/angular-material.min.js}"></script>  
        <script charset="UTF-8" type="text/javascript" th:src="@{/js/lib/angular-messages.min.js}"></script>     
    </head>
    <body>
        <div layout:fragment="page_content"></div>
    </body>
</html>